

<body>
  <h1>Search Clients</h1>
  <hr />
  <form action="/client/search/result" method="post">
    <label for="search-client">Name of client to search</label>
    <input id="search-client" name="search-client" type="text">
    <button type="submit">Search</button>
  </form>
</body>
