

<body>
  <h1>Stylists</h1>
  <hr />
  <h2>Are you sure you want to delete this stylist and all of clients?</h2>
  <form action="/stylist/delete/@Model.GetId()" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
  </form>
</h4><a href="/">Back to main</a></h4>
</body>
